{{define "layout"}}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        {{ block "header_common" .}}{{end}}
        {{ block "header" . }}{{end}}
        <title>{{block "title" .}}{{end}} - Minetest hosting</title>
    </head>
    <body>
        {{block "navbar" .}}{{end}}
        <div class="container-fluid">
            <br>
            {{block "top-content" .}}{{end}}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            {{block "title" .}}{{end}}
                        </div>
                        <div class="card-body">
                            {{block "content" .}}{{end}}
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>
{{end}}