{{define "layout"}}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#000">
        <link rel="icon" href="{{BaseURL}}/assets/minetest-hosting-80px.png" type="image/png">
        <link rel="stylesheet" href="{{BaseURL}}/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{BaseURL}}/assets/css/fontawesome.min.css"/>
        {{ block "header" . }}{{end}}
        <title>{{block "title" .}}{{end}} - Minetest hosting</title>
    </head>
    <body>
        {{block "navbar" .}}{{end}}
        <div class="container-fluid">
            <br>
            {{block "top-content" .}}{{end}}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            {{block "title" .}}{{end}}
                        </div>
                        <div class="card-body">
                            {{block "content" .}}{{end}}
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>
{{end}}