{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{{BaseURL}}" class="navbar-brand">Minetest hosting</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="{{BaseURL}}/login" class="nav-link">
                    <i class="fa fa-sign-in"></i> Login
                </a>
            </li>
            {{if Claims}}
                {{if eq Claims.Role "ADMIN"}}
                <li class="nav-item">
                    <a href="{{BaseURL}}/node_types" class="nav-link">
                        <i class="fa fa-server"></i> Node-Types
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{BaseURL}}/jobs" class="nav-link">
                        <i class="fa fa-play"></i> Jobs
                    </a>
                </li>
                {{end}}
            <li class="nav-item">
                <a href="{{BaseURL}}/nodes" class="nav-link">
                    <i class="fa fa-server"></i> Nodes
                </a>
            </li>
            <li class="nav-item">
                <a href="{{BaseURL}}/mtserver" class="nav-link">
                    <i class="fa fa-list"></i> Servers
                </a>
            </li>
            {{end}}
        </ul>
        {{if ne Config.Stage "prod"}}
            <div class="btn btn-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Stage: {{Config.Stage}}
            </div>
        {{end}}
        {{if Claims}}
        <form class="d-flex">
            <div class="btn btn-light">
                <a href="{{BaseURL}}/profile">
                    <i class="fas fa-user"></i>
                    <span>
                        Logged in as <b>{{Claims.Mail}}</b>
                    </span>
                </a>
            </div>
        </form>
        {{end}}
    </div>
</nav>
{{end}}