{{define "title"}}Minetest servers{{end}}
{{define "title-icon"}}<i class="fa fa-list"></i>{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>Name</th>
        <th>Parent node</th>
        <th>Created</th>
        <th>DNS Name</th>
        <th>State</th>
    </thead>
    <tbody>
        {{range $s := .Servers}}
        <tr>
            <td>
                <a href="{{BaseURL}}/mtserver/{{$s.ID}}">
                    <i class="fa fa-list"></i>
                    {{$s.Name}} ({{$s.ID}})
                </a>
            </td>
            <td>
                <a href="{{BaseURL}}/nodes/{{$s.UserNodeID}}">
                    <i class="fa fa-server"></i>
                    {{$s.UserNodeID}}
                </a>
            </td>
            <td>{{formattime $s.Created}}</td>
            <td>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <a href="https://{{$s.DNSName}}.{{Config.HostingDomainSuffix}}" target="_new">
                    {{$s.DNSName}}.{{Config.HostingDomainSuffix}}
                </a>
            </td>
            <td>
                {{block "server_state" $s}}{{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/mtserver/create">
    <i class="fa fa-plus"></i>
    Create server
</a>
{{end}}