{{define "title"}}Node details ({{.UserNode.Name}}){{end}}
{{define "content"}}
<h4>Status</h4>
<div class="row">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>
                {{.UserNode.ID}}
            </td>
        </tr>
        <tr>
            <td>Hostname</td>
            <td>{{.UserNode.Name}}.{{Config.HostingDomainSuffix}}</td>
        </tr>
        <tr>
            <td>Alias</td>
            <td>
                <form method="post">
                    {{CSRFField}}
                    <div class="btn-group w-100">
                        <input type="text" class="form-control {{if .AliasUpdated}}is-valid{{end}}" name="alias" value="{{.UserNode.Alias}}"/>
                        <button class="btn btn-xs btn-info" type="submit" name="action" value="set-alias">
                            <i class="fa fa-floppy-disk"></i>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>State</td>
            <td>
                {{block "node_state" .UserNode}}{{end}}
            </td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{formattime .UserNode.Created}} ({{daysuntil .UserNode.Created}} days ago)</td>
        </tr>
        <tr class="{{if .UserNode.ExpirationWarning}}table-warning{{end}}">
            <td>Expires</td>
            <td>
                {{formattime .UserNode.Expires}} (in {{daysuntil .UserNode.Expires}} days)
                {{if .UserNode.ExpirationWarning}}
                    <i class="fa-solid fa-triangle-exclamation" title="Expires soon!"></i>
                {{end}}
            </td>
        </tr>
        <tr>
            <td>CPU Usage</td>
            <td>
                <div class="progress">
                    <div class="progress-bar"
                        style="width: {{.UserNode.LoadPercent}}%">
                        {{.UserNode.LoadPercent}}%
                        </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Disk Usage</td>
            <td>
                {{printf "%.2f" .DiskGBUsed}}/{{printf "%.2f" .DiskGBTotal}} GB
                <div class="progress">
                    <div class="progress-bar {{if .DiskWarn}}bg-warning{{end}}{{if .DiskDanger}}bg-danger{{end}}"
                        style="width: {{.DiskPercent}}%">
                        {{.DiskPercent}}%
                        </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Memory Usage</td>
            <td>
                {{printf "%.2f" .MemoryGBUsed}}/{{printf "%.2f" .MemoryGBTotal}} GB
                <div class="progress">
                    <div class="progress-bar {{if .MemoryWarn}}bg-warning{{end}}{{if .MemoryDanger}}bg-danger{{end}}"
                        style="width: {{.MemoryPercent}}%">
                        {{.MemoryPercent}}%
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Actions</td>
            <td>
                <form method="post">
                    {{CSRFField}}
                    <div class="btn-group">
                        {{if eq .UserNode.State "RUNNING"}}
                        <button class="btn btn-warning" type="submit" name="action" value="stop">
                            <i class="fa fa-pause"></i>
                            Stop
                        </button>
                        {{end}}
                        {{if eq .UserNode.State "STOPPED"}}
                        <button class="btn btn-success" type="submit" name="action" value="start">
                            <i class="fa fa-play"></i>
                            Start
                        </button>
                        {{end}}
                        <a class="btn btn-danger" href="{{BaseURL}}/nodes/{{.UserNode.ID}}/delete">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
<hr>
<h4>Servers</h4>
{{if .Servers}}
<table class="table">
    <thead>
        <th>Name</th>
        <th>Created</th>
        <th>State</th>
    </thead>
    <tbody>
        {{range $s := .Servers}}
        <tr>
            <td>
                <a href="{{BaseURL}}/mtserver/{{$s.ID}}">
                    {{$s.Name}}
                </a>
            </td>
            <td>
                {{formattime $s.Created}}
            </td>
            <td>
                <div class="badge bg-info">{{$s.State}}</div>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
{{if not .Servers}}
<div class="alert alert-info">
    <i class="fa fa-info"></i>
    There are no minetest servers in this node yet, use <b>Create Server</b> to create the first one
</div>
{{end}}
<a class="btn btn-success" href="{{BaseURL}}/mtserver/create?node_id={{.UserNode.ID}}">
    <i class="fa fa-plus"></i>
    Create server
</a>
<hr>
<h4>Payments</h4>
<table class="table">
    <thead>
        <th>Start</th>
        <th>End</th>
        <th>State</th>
    </thead>
    <tbody>
        {{range $tx := .Transactions}}
        <tr>
            <td>{{formattime $tx.StartDate}}</td>
            <td>{{formattime $tx.UntilDate}}</td>
            <td>{{block "transaction_state" $tx}}{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}