{{define "title"}}Nodes{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Created</th>
        <th>Node-Type</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {{range $n := .Nodes}}
        <tr>
            <td>
                {{$n.UserNode.ID}}
                {{if eq $n.UserNode.State "CREATED"}}
                    <span class="badge text-bg-info">Created</span>
                {{end}}
                {{if eq $n.UserNode.State "RUNNING"}}
                    <span class="badge text-bg-success">Running</span>
                {{end}}
                {{if eq $n.UserNode.State "STOPPED"}}
                    <span class="badge text-bg-warning">Stopped</span>
                {{end}}
                {{if eq $n.UserNode.State "REMOVING"}}
                    <span class="badge text-bg-danger">Removing</span>
                {{end}}
            </td>
            <td>{{$n.UserNode.Name}}</td>
            <td>{{formattime $n.Created}}</td>
            <td>{{$n.NodeType.Name}}</td>
            <td>
                <a class="btn btn-primary" href="{{BaseURL}}/nodes/{{$n.UserNode.ID}}">
                    <i class="fa fa-pen-to-square"></i>
                    Edit
                </a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/nodes/new">
    <i class="fa fa-plus"></i>
    Create node
</a>
{{end}}