{{define "title"}}Nodes{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>Name</th>
        <th>State</th>
        <th>Servers</th>
        <th>Created</th>
        <th>Expires</th>
        <th>Node-Type</th>
    </thead>
    <tbody>
        {{range $n := .Nodes}}
        <tr class="{{if $n.UserNode.ExpirationWarning}}table-warning{{end}}">
            <td>
                <a href="{{BaseURL}}/nodes/{{$n.UserNode.ID}}">
                    {{$n.UserNode.Alias}} ({{$n.UserNode.Name}})
                </a>
            </td>
            <td>{{block "node_state" $n.UserNode}}{{end}}</td>
            <td>{{$n.ServerCount}}</td>
            <td>{{formattime $n.UserNode.Created}} ({{daysuntil $n.UserNode.Created}} days ago)</td>
            <td>
                {{formattime $n.UserNode.Expires}} (in {{daysuntil $n.UserNode.Expires}} days)
                {{if $n.UserNode.ExpirationWarning}}
                    <i class="fa-solid fa-triangle-exclamation" title="Expires soon!"></i>
                {{end}}
            </td>
            <td>{{$n.NodeType.Name}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/nodes/select-new">
    <i class="fa fa-plus"></i>
    Create node
</a>
{{end}}