{{define "title"}}Nodes{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Node-Type</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {{range $nt := .Nodes}}
        <tr>
            <td>{{$nt.UserNode.ID}}</td>
            <td>{{$nt.UserNode.Name}}</td>
            <td>{{$nt.NodeType.Name}}</td>
            <td>
                <a class="btn btn-primary" href="{{BaseURL}}/nodes/{{$nt.UserNode.ID}}">
                    <i class="fa fa-pen-to-square"></i>
                    Edit
                </a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/nodes/new">
    <i class="fa fa-plus"></i>
    Create node
</a>
{{end}}