{{define "title"}}Order overview{{end}}
{{define "title-icon"}}<i class="fa fa-shopping-cart"></i>{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<form method="post">
    <table class="table">
        <tr>
            <td>Node-type</td>
            <td>{{.NodeType.Name}}</td>
        </tr>
        <tr>
            <td>Cost per day</td>
            <td>{{.NodeType.DailyCost}} &euro;</td>
        </tr>
        <tr>
            <td>Amount of days</td>
            <td>{{.Days}}</td>
        </tr>
        <tr>
            <td>End-Date</td>
            <td>
                {{formattime .Expiration}}
                <div class="alert alert-info">
                    <i class="fa-solid fa-circle-info"></i>
                    <b>Note:</b> Renewal is always possible up to a total of {{.NodeType.MaxDays}} days
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>Total cost for {{.Days}} days</b>
            </td>
            <td>
                <b>{{.TotalCost}} &euro;</b>
            </td>
        </tr>
    </table>
    {{CSRFField}}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-cart-shopping"></i>
        Proceed to payment ({{.TotalCost}} &euro;)
    </button>
</form>
{{end}}