{{define "title"}}Select Node-Type{{end}}
{{define "title-icon"}}<i class="fa fa-plus"></i>{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
    {{range $nt := .NodeTypes}}
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">{{$nt.Name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                Cost: {{$nt.DailyCost}} &euro; per day / {{$nt.MonthlyCost}} &euro; per 30 days
            </h6>
            {{range $dp := $nt.DescriptionParagraphs}}
                <p class="card-text">{{$dp}}</p>
            {{end}}
            <form method="post">
                {{CSRFField}}
                <input type="hidden" name="node_type_id" value="{{$nt.ID}}"/>
                <div class="input-group">
                    <span class="input-group-text">Select amount of days to order:</span>
                    <input type="number" class="form-control" min="1" max="{{$nt.MaxDays}}" name="days" value="30"/>
                    <button type="submit" class="btn btn-primary btn-xs">
                        Order
                    </button>
                </div>
            </form>
        </div>
    </div>
    {{end}}
{{end}}