{{define "title"}}Node-Types{{end}}
{{define "title-icon"}}<i class="fa fa-server"></i>{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>ID</th>
        <th>OrderID</th>
        <th>Name</th>
        <th>Provider</th>
        <th>Server-Type</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {{range $nt := .NodeTypes}}
        <tr>
            <td>
                {{$nt.ID}}
                {{if eq $nt.State "ACTIVE"}}
                    <span class="badge text-bg-success">Active</span>
                {{end}}
                {{if eq $nt.State "INACTIVE"}}
                    <span class="badge text-bg-info">Inactive</span>
                {{end}}
                {{if eq $nt.State "DEPRECATED"}}
                    <span class="badge text-bg-warning">Deprecated</span>
                {{end}}
            </td>
            <td>{{$nt.OrderID}}</td>
            <td>{{$nt.Name}}</td>
            <td>{{$nt.Provider}}</td>
            <td>{{$nt.ServerType}}</td>
            <td>
                <a class="btn btn-primary" href="{{BaseURL}}/node_types/{{$nt.ID}}">
                    <i class="fa fa-pen-to-square"></i>
                    Edit
                </a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/node_types/new">
    <i class="fa fa-plus"></i>
    Create node-type
</a>
{{end}}