{{define "title"}}Create Minetest server{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<form method="POST">
    <table class="table">
        <tr>
            <td>Node</td>
            <td>
                <select name="nodeid" class="form-control">
                    {{range $n := .Nodes}}
                    <option value="{{$n.ID}}" {{if $n.Selected}}selected{{end}}>
                        {{$n.Alias}} ({{$n.Name}})
                    </option>
                    {{end}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Display-Name</td>
            <td>
                <div class="input-group has-validation">
                    <input type="text" class="form-control {{if .NameErr}}is-invalid{{end}}" name="Name" value="{{.Name}}"/>
                    {{if .NameErr}}
                    <div class="invalid-feedback">
                        {{T .NameErr}}
                    </div>
                    {{end}}
                </div>
            </td>
        </tr>
        <tr>
            <td>DNS-Name</td>
            <td>
                <div class="input-group has-validation">
                    <input type="text" class="form-control {{if .DNSNameErr}}is-invalid{{end}}" name="DNSName" value="{{.DNSName}}"/>
                    <span class="input-group-text">.{{Config.HostingDomainSuffix}}</span>
                    {{if .DNSNameErr}}
                    <div class="invalid-feedback">
                        {{T .DNSNameErr}}
                    </div>
                    {{end}}
                </div>
            </td>
        </tr>
        <tr>
            <td>Port</td>
            <td>
                <div class="input-group has-validation">
                    <input type="number" class="form-control {{if .PortErr}}is-invalid{{end}}" name="Port" value="{{.Port}}"/>
                    {{if .PortErr}}
                    <div class="invalid-feedback">
                        {{T .PortErr}}
                    </div>
                    {{end}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="d-grid gap-2">
                    {{ CSRFField }}
                    <button class="btn btn-success" type="submit" name="action" value="save">
                        <i class="fa fa-floppy-disk"></i>
                        Create
                    </button>
                </div>    
            </td>
        </tr>
    </table>
</form>
{{end}}