{{define "title"}}Minetest server ({{.Server.Name}}){{end}}
{{define "title-icon"}}<i class="fa fa-list"></i>{{end}}
{{define "top-content"}}
    {{block "breadcrumb" .Breadcrumb}}{{end}}
{{end}}
{{define "content"}}
<h4>Status</h4>
<table class="table">
    <tr>
        <td>ID</td>
        <td>{{.Server.ID}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>
            <form method="post">
                {{CSRFField}}
                <div class="btn-group w-100">
                    <input type="text" class="form-control" name="Name" value="{{.Server.Name}}"/>
                    <button class="btn btn-xs btn-info" type="submit" name="action" value="set-name">
                        <i class="fa fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td>Node</td>
        <td>
            <a href="{{BaseURL}}/nodes/{{.Server.UserNodeID}}">
                <i class="fa fa-server"></i>
                {{.Node.Name}} ({{.Server.UserNodeID}})
            </a>
        </td>
    </tr>
    <tr>
        <td>DNSName</td>
        <td>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <a href="https://{{.Server.DNSName}}.{{Config.HostingDomainSuffix}}">
                {{.Server.DNSName}}.{{Config.HostingDomainSuffix}}
            </a>
        </td>
    </tr>
    <tr>
        <td>Port</td>
        <td>{{.Server.Port}}</td>
    </tr>
    <tr>
        <td>UIVersion</td>
        <td>
            <form method="post">
                {{CSRFField}}
                <div class="btn-group w-100">
                    <input type="text" class="form-control" name="UIVersion" value="{{.Server.UIVersion}}"/>
                    <button class="btn btn-xs btn-info" type="submit" name="action" value="set-uiversion">
                        <i class="fa fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{formattime .Server.Created}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{block "server_state" .Server}}{{end}}</td>
    </tr>
    <tr>
        <td>Actions</td>
        <td>
            <form method="post">
                {{CSRFField}}
                <div class="btn-group">
                    <a class="btn btn-danger" href="{{BaseURL}}/mtserver/{{.Server.ID}}/delete">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                    <button type="submit" class="btn btn-primary" name="action" value="update-deployment" {{if .IsDeploying}}disabled{{end}}>
                        <i class="fa fa-cloud-arrow-up"></i>
                        Update deployment
                        {{if .IsDeploying}}
                            <span class="badge bg-success">active</span>
                        {{end}}
                    </button>
                </div>
            </form>
            {{if.DeployError}}
            <div class="alert alert-danger">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <b>Error:</b> Deployment failed, please try again or contact the administrator
            </div>
            {{end}}
        </td>
    </tr>
</table>
{{end}}