{{define "title"}}Minetest servers{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>Name</th>
        <th>Created</th>
        <th>DNS Name</th>
        <th>State</th>
    </thead>
    <tbody>
        {{range $s := .Servers}}
        <tr>
            <td>
                <a href="{{BaseURL}}/mtserver/{{$s.ID}}">
                    {{$s.Name}}
                </a>
            </td>
            <td>{{formattime $s.Created}}</td>
            <td>
                <a href="https://{{$s.DNSName}}.{{Config.HostingDomainSuffix}}" target="_new">
                    {{$s.DNSName}}.{{Config.HostingDomainSuffix}}
                </a>
            </td>
            <td>
                {{block "server_state" $s}}{{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<a class="btn btn-success" href="{{BaseURL}}/mtserver/create">
    <i class="fa fa-plus"></i>
    Create server
</a>
{{end}}