{{define "title"}}Jobs{{end}}
{{define "content"}}
<table class="table">
    <thead>
        <th>ID</th>
        <th>Type</th>
        <th>State</th>
        <th>Message</th>
        <th>Links</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {{range $j := .Jobs}}
        <tr>
            <td>{{$j.ID}}</td>
            <td>{{$j.Type}}</td>
            <td>
                {{block "job_state" $j}}{{end}}
            </td>
            <td>{{$j.Message}}</td>
            <td>
                <ul>
                    {{if $j.UserNodeID}}
                    <li>
                        <a href="{{BaseURL}}/nodes/{{$j.UserNodeID}}">
                            <i class="fa fa-server"></i>
                            {{$j.UserNodeID}}
                        </a>
                    </li>
                    {{end}}
                    {{if $j.MinetestServerID}}
                    <li>
                        <a href="{{BaseURL}}/mtserver/{{$j.MinetestServerID}}">
                            <i class="fa fa-list"></i>
                            {{$j.MinetestServerID}}
                        </a>
                    </li>
                    {{end}}
                </ul>
            </td>
            <td>
                <form method="post">
                    {{CSRFField}}
                    <input type="hidden" name="job_id" value="{{$j.ID}}"/>
                    <div class="btn-group">
                        <button class="btn btn-xs btn-secondary" name="action" value="retry">
                            <i class="fa fa-repeat"></i>
                            Retry
                        </button>
                        <button class="btn btn-xs btn-warning" name="action" value="delete">
                            <i class="fa fa-close"></i>
                            Delete
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}