{{define "title"}}Login{{end}}
{{define "content"}}
    {{if Claims}}
    <form method="POST" style="display: inline;">
        <input type="hidden" name="action" value="logout"/>
        <button type="submit" class="btn btn-secondary">Logout</button>
        {{ CSRFField }}
    </form>
    {{else}}
        {{if .GithubOauth}}
        <a href="https://github.com/login/oauth/authorize?client_id={{.GithubOauth.ClientID}}&scope=user:email" class="btn btn-secondary">
            <i class="fab fa-github"></i>
            Login with Github
        </a>
        &nbsp;
        {{end}}
    {{end}}
{{end}}