{{define "title"}}Nodes{{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
            Nodes
            </div>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Node-Type</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {{range $nt := .Nodes}}
                    <tr>
                        
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <div class="card-body">
                <a class="btn btn-success" href="{{BaseURL}}/nodes/new">
                    Create node
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{{end}}