{{define "title"}}Node-Types{{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            Node-Types
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="{{BaseURL}}/nodes/new">
                    Create node-type
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{{end}}